.qrcode{
    height:100%;
    width:100%;
    display:flex;
    justifyContent:center;
    alignItems:center
}

.search{
    width: 170px;
    margin-right: 20px;
    margin-top: 1px;
}

.modal {
    width: 90%;
}

.submitButtons {
    white-space: nowrap;
    text-align: right;
    padding-right: 24px;
}

.ant-form-item{
    font-size: 12px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.65);
    vertical-align: top;
}

